APP_PORT=
APP_HOST=
SWAGGER_HOST=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

JWT_SECRET=

MINIO_ENDPOINT=
MINIO_ENDPOINT_IMAGE=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

MINIO_BUCKET=

MINIO_USE_SSL=

REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=